.networkButtons {
    display: flex;
    gap: 2vw;
    padding-top: 0;
    align-items: center;
}

@keyframes networkButtonsAnimation {
    0%   { left: 0vw; top: 0vh; }
    25%  { left: 2vw; top: 2vh; }
    50%  { left: 2vw; top: 0vh; }
    75%  { left: 0vw; top: 2vh; }
    100% { left: 0vw; top: 0vh; }
}

#Itchio {
    height: 8vh;
    width: 12vw;
    transition: transform 0.6s ease;
    position: relative;
    animation: networkButtonsAnimation 15s infinite alternate-reverse;
}

#Itchio:hover {
    transform: rotate(5deg);
}

#Phone {
    height: 4vh;
    width: 2vw;
    transition: transform 0.4s ease;
    position: relative;
    animation: networkButtonsAnimation 15s infinite alternate-reverse;
}

#Phone:hover {
    transform: rotate(25deg);
}

#Mail {
    height: 3.5vh;
    width: 2.25vw;
    transition: transform 0.4s ease;
    position: relative;
    animation: networkButtonsAnimation 12s infinite alternate-reverse;
}

#Mail:hover {
    transform: rotate(25deg);
}

#Linkedin {
    height: 5.25vh;
    width: 3vw;
    transition: transform 0.4s ease;
    margin-top: -10%;
    position: relative;
    animation: networkButtonsAnimation 9s infinite alternate-reverse;
}

#Linkedin:hover {
    transform: rotate(25deg);
}

#Youtube {
    height: 3.5vh;
    width: 2.25vw;
    transition: transform 0.4s ease;
    position: relative;
    animation: networkButtonsAnimation 6s infinite alternate-reverse;
}

#Youtube:hover {
    transform: rotate(25deg);
}

#Instagram,
#CVIcon {
    height: 5vh;
    width: 2.5vw;
    transition: transform 0.4s ease;
    margin-top: -10%;
    position: relative;
    animation: networkButtonsAnimation 5s infinite alternate-reverse;
}

#Instagram:hover,
#CVIcon:hover {
    transform: rotate(25deg);
}

@media (max-width: 1280px) {
    #Phone {
        height: 4vh;
        width: 2.3vw;
    }

    #Mail {
        height: 3.2vh;
        width: 2.5vw;
    }

    #Linkedin {
        height: 4.25vh;
        width: 3vw;
    }

    #Youtube {
        height: 3.5vh;
        width: 2.5vw;
    }

    #Instagram,
    #CVIcon {
        height: 5vh;
        width: 2.9vw;
    }
}

@media (max-width: 540px) {
    .networkButtons {
        gap: 8vw;
        padding-left: 10%;
    }

    #Phone {
        height: 3vh;
        width: 4vw;
    }

    #Mail {
        height: 3vh;
        width: 6vw;
    }

    #Linkedin {
        height: 5vh;
        width: 8vw;
    }

    #Youtube {
        height: 3.5vh;
        width: 6vw;
    }

    #Instagram,
    #CVIcon {
        height: 4.5vh;
        width: 6.5vw;
    }
}

@media (max-width: 412px) {
    .networkButtons {
        gap: 8vw;
        padding-left: 10%;
    }

    #Phone {
        height: 4vh;
        width: 7vw;
    }

    #Mail {
        height: 3.2vh;
        width: 8vw;
    }

    #Linkedin {
        height: 5vh;
        width: 10.5vw;
    }

    #Youtube {
        height: 3.5vh;
        width: 9vw;
    }

    #Instagram,
    #CVIcon {
        height: 5vh;
        width: 10vw;
    }
}

@media (max-width: 280px) {
    .networkButtons {
        gap: 8vw;
        padding-left: 10%;
    }

    #Phone {
        height: 4vh;
        width: 8vw;
    }

    #Mail {
        height: 3.2vh;
        width: 9vw;
    }

    #Linkedin {
        height: 5vh;
        width: 10.5vw;
    }

    #Youtube {
        height: 3.5vh;
        width: 10vw;
    }

    #Instagram,
    #CVIcon {
        height: 5vh;
        width: 11vw;
    }
}
